body {
    font-family: 'Poppins';
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
}
header #overview #promotion #feedback #contact footer{
    width: 90%;
}

header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: #333;
    color: white;
    padding: 10px;
}

    

header h1 {
    margin: 0;
    font-size: 20px;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

nav ul li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #ffcc00;
}

section {
    padding: 20px;
}

#overview {
    background: url('/images/background-image.jpg');
    color: #3b2f2f;
    padding: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 510px;
    background-repeat: no-repeat;
    background-size: cover;
}
.or{
    border-radius: 8px;
    border: 5px solid orange;
    background-color: rgba(255, 255, 255, 0.8);
}


#promotionsList {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
#promotionsList li{

    min-height: 200px;

}
#promotionsList li img{
    width: 200px;
    height: 200px;
    border-radius: 8px;
}


#promotions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 204, 0, 0.2);
    border-radius: 8px;
}

#feedbackList {
    list-style: none;
    padding: 0;
    list-style: "*";
}

#feedback {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
}
#feedbackList li{
    margin-top: 10px;
}



#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
}

#contact iframe {
border-radius: 8px;
width:400px;
height:400px; 
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;

}


main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    height: 60vh;
    margin: 10px 10px;
    width: 300px;
    border: 1px solid #ccc;
    padding: 10px 10px;
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

button {
    background-color: #333;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #555;
}

#MenuList{
    display: flex;
    flex-direction: column;

}
#MenuList {
    text-align: center;
}

#MenuList h2 {
    margin-bottom: 20px;
}

ul.menu-items {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0;
}

li.menu-item {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
    text-align: left;
}

img.menu-image {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}
#branch {
    text-align: center;
}

#branch h2 {
    margin-bottom: 20px;
}

.branch-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px;
}

.branch {
    width: 200px;
    margin: 10px;
}

.branch img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.branch img:hover {
    transform: scale(1.1);
}

#welcome {
    text-align: center;
    padding: 20px;
    background-color: #f5f5f5;
}

#adminFunctions {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    margin-top: 20px;
}

#adminFunctions a {
    margin: 10px 10px;
    text-decoration: none;
    color: #333;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    transition: background-color 0.3s ease;
}

#adminFunctions a:hover {
    background-color: #ddd;
}

#addpromotion{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#newpromotion{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    padding: 40px;
}
#pdescription{
height: fit-content;
}