body {
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1 {
    margin: 0;
    font-size: 1.5em;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #ffcc00;
}

section {
    padding: 20px;
}

#overview {
    background: url('/images/background-image.jpg');
    color: #3b2f2f;
    padding: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 510px;
    background-repeat: no-repeat;
    background-size: cover;
}
.or{
    border-radius: 8px;
    border: 5px solid orange;
    background-color: rgba(255, 255, 255, 0.8);
}


#promotionsList {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:flex-start;
}
#promotionsList li{
    min-width: 200px;
    min-height: 200px;
    margin: 10px 10px 10px 10px;
    justify-content: space-between;
}
#promotionsList li img{
    width: 200px;
    height: 200px;
    border-radius: 8px;
}


#promotions {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 620px;
    background-color: rgba(255, 204, 0, 0.2);
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
}

#feedbackList {
    list-style: none;
    padding: 0;
    list-style: "*";
}

#feedback {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
}
#feedbackList li{
    margin-top: 10px;
}



#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
}

#contact iframe {
border-radius: 8px;
width:400px;
height:400px; 
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;

}
