body{
display: flex;
flex-direction: column;
justify-content: space-between;
min-height: 100vh;
}

header main #contact footer{
    min-width: 90%;

} 

header {
    background-color: black;
    height: 150px;


}

main{
    background-color: aqua;
    height: 150px;
    
}

#contact{
    background-color: brown;
    height: 150px;
}
footer{
    background-color: black;
    height: 150px;
}